:root {
    --clr-dark: #000000;
    --clr-light: #fcfcfc;
}

*{
    padding: 0;
    margin:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.dark-mode {
    --clr-light: black;
    --clr-dark: white;
}
body {
    background-color: var(--clr-light);
    color: var(--clr-dark);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 5px solid;
    margin-top: 2px;

}

 h1{
    display: flex;
    justify-content: flex-start;
    
       
}

nav div {
    
    display: flex;
    flex-direction: row;
    padding: 10px;
    
}

#go-back {
    background-color: black;
    color: #fcfcfc;
    border:3px solid gray;
}


nav .dark-mode{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    font-size: 30px;
    background-color: lightgray;

} 

.card {
    border: 3px solid;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin-bottom: 0;
    flex-basis: auto;
    height: 100%;
    
}


.container{
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    border-top: 5px solid ;
    border-bottom: 5px solid ;
        
}

h3 {
    border-bottom: 3px solid;
    margin-right: 20px;
}




footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 0;
    border-top: 5px solid;
    width: 100%;
    padding-top: 20px;
}

#made{
    display: flex;
    justify-content: center;

}





    
    
    



