.dark {
background-color: black;
height: 100vh;
color: antiquewhite;
}

.light {
    background-color: antiquewhite;
    color:black;
    height: 100vh;
}














/* :root {
    --clr-dark: #000000;
    --clr-light: #fcfcfc;
}
    
.dark-mode {
    --clr-light: black;
    --clr-dark: white;
}
body {
    background-color: var(--clr-light);
    color: var(--clr-dark);
}

#darkLight.active {
    background-color: #007bff;
    color: white;
} */

/* #darkLight {
    transition: background-color 0.3s ease;
}    */ 




